/* Customize your main colors in :root variables */
:root {
  --main-background-color: #ff65bc;
  --card-background-color: rgb(237,151,136);
  --countdown-background-color: #37f10e;
  --main-text-color:#f4f5f7;
  --title-text-color:rgb(237,151,136);
}

body{
/*  background-color:var(--main-background-color);*/
  background: url("img/background.png");
  background-size: cover;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1rem;
}

h2, p{
  color: #210bc7;
}

h3{
font-weight: normal;
}



